@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   <button src="https://google.com" class="btn btn-success" onclick="CrearAlerta()" disabled>Mi primer boton</button>
    
   <br></br>
   <form>
  <div class="form-group">
    <label for="exampleInputEmail1">Número 1</label>
    <input type="number" class="form-control" id="numero1" aria-describedby="emailHelp" placeholder="Numero 1">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Número 2</label>
    <input type="number" class="form-control" id="numero2" placeholder="Numero 2">
  </div>
  
  <br></br>
  <button  id="boton1" type="button" class="btn btn-primary">Sumar</button>

  <br></br>
  <input type="number" class="form-control" id="resultado">

  <br></br>
  <p id="parrafo_respuesta">El resultado es:</p>

</form>
</div>
